@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 5px;
}
.button {
  background-color: #6e75f0;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
.button:hover {
  background-color: #0e19ed;
}
